.modal {
    display: none;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal.active {
    display: block;
    opacity: 1;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    background-color: white;
    padding: 20px;
    width: 95dvw;
    max-width: 500px;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.modal.active .modal-content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.modal-content h2 {
    margin-top: 0;
}
.modal-content ul {
    list-style: none;
    padding: 0;
}

.modal-content li {
    margin: 10px 0;
}

.modal-content button {
    margin-top: 10px;
    padding: 10px 20px;
}

